// @media (max-width:576px) {
//     .navbar {
//         border: 1px solid red;
//         width: 100%;
//         height: 70px;
//         background-color: #333;
//         overflow: hidden;
//     }

//     .navbar a {
//         float: left;
//         display: block;
//         color: #f2f2f2;
//         text-align: center;
//         padding: 14px 16px;
//         text-decoration: none;
//         font-size: 17px;
//     }

//     .navbar a {display: none;}
//   .navabr a .icon {
//     float: right;
//     display: block;
//     border: 1px solid red;
//   }

//     .navbar--title {
//         margin-left: 25px;
//         font-family: 'Raleway';
//         font-style: normal;
//         font-weight: 300;
//         font-size: 32px;
//         line-height: 37px;
//         color: $color-principal;
//     }

//     .navbar--menu {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;
//         margin-right: 115px;

//         li {
//             // border: 1px solid red;
//             margin: 0 52.5px;
//             font-family: 'Open Sans';
//             font-style: normal;
//             font-weight: 700;
//             font-size: 11px;
//             line-height: 15px;
//             text-align: center;
//             letter-spacing: 3.28px;
//             text-transform: uppercase;
//             color: #A5A5A5;
//         }
//     }

//     .navbar--start {
//         // border: 1px solid gold;
//         height: 70px;
//         line-height: 15px;
//         font-size: 11px;
//         text-align: center;
//         border-bottom: 4px solid #08A6E4;
//         vertical-align: middle;
//         padding-top: 28px;
//     }
// }

// /* MEDIA QUERIE - DESKTOP */
// @media (min-width:992px) {
//     .navbar {
//         // border: 1px solid red;
//         // border-bottom: rgba(0, 0, 0, 0.29);;
//         width: 100%;
//         height: 70px;
//         background: #FFFFFF;
//         box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-between;
//     }

//     .icon{
//         display: none;
//     }

//     .navbar--title {
//         margin-left: 136px;
//         font-family: 'Raleway';
//         font-style: normal;
//         font-weight: 300;
//         font-size: 32px;
//         line-height: 37px;
//         color: $color-principal;
//     }

//     .navbar--menu {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: center;
//         margin-right: 115px;

//         li {
//             // border: 1px solid red;
//             margin: 0 52.5px;
//             font-family: 'Open Sans';
//             font-style: normal;
//             font-weight: 700;
//             font-size: 11px;
//             line-height: 15px;
//             text-align: center;
//             letter-spacing: 3.28px;
//             text-transform: uppercase;
//             color: #A5A5A5;
//         }
//     }

//     .navbar--start {
//         // border: 1px solid gold;
//         height: 70px;
//         line-height: 15px;
//         font-size: 11px;
//         text-align: center;
//         border-bottom: 4px solid #08A6E4;
//         vertical-align: middle;
//         padding-top: 28px;
//     }
// }

// /* MEDIA QUERIE - TABLETS */
// @media (min-width:576px)and(max-width:992px) {}








nav {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  height: 70px;
  // min-width: 320px;
}

ul {
  list-style-type: none;
}

a {
  // color: white;
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  color: #A5A5A5;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu li {
  // font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
  color: #A5A5A5;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  color: #08A6E4;
  margin-left: 25px;
  margin-top: 17px;
}

a,
.toggle a {
  font-size: 20px;
  // color: #08A6E4;

}

.button.secondary {
  border-bottom: 1px #444 solid;
}

.item--start {
  padding-top: 28px !important;
  color: #000000 !important;
}

/* Mobile menu */
@media (max-width:600px) {


  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
  }

  .toggle {
    order: 1;
  }

  .item.button {
    order: 2;
  }

  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }

  .item.active {
    display: block;
  }
}


/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    flex: 1;
    text-align: right;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .button.secondary a:hover {
    color: #ddd;
  }
}

/* Desktop menu */
@media (min-width: 900px) {
// @media all and (min-width: 900px) {
  nav {
    height: 70px;
  }

  .menu {
    height: 70px;
  }

  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }


  .item {
    // order: 1;
    margin: 0 52.5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: #A5A5A5;
  }

  .logo {
    order: 0;
    margin-left: 136px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    color: #08A6E4 !important;
  }

  .item--start {
    // border: 1px solid gold;
    height: 70px;
    line-height: 15px;
    font-size: 11px;
    text-align: center;
    border-bottom: 4px solid #08A6E4;
    vertical-align: middle !important;
    padding-top: 138px;
    color: #000000;
    // margin-top: 28px;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}